.review input{
        width: 80%;
        margin-bottom: 10px;
        border: 1px solid lightblue;
        padding: 10px;
}
.review textarea{
    width: 80%;
    border: 1px solid lightblue;
    padding: 20px;

}
.review{
    border: 1px solid rgba(241, 175, 175, 0.842);
    padding: 20px;
    border-radius: 10px;

    
}
.review button{
    margin-right: 5px;
}
.orderlist{
    padding: 20px;
    border-radius: 10px;
    border:1px solid lightskyblue;
}